<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>Controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>Controlador.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>Controlador.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIngreso</servlet-name>
        <servlet-class>Controlador.ControladorIngreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedido</servlet-name>
        <servlet-class>Controlador.ControladorPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scontrolador</servlet-name>
        <servlet-class>Controlador.scontrolador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>Controlador.ControladorIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCompra</servlet-name>
        <servlet-class>Controlador.ControladorCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistrocompra</servlet-name>
        <servlet-class>Controlador.ControladorRegistrocompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIngreso</servlet-name>
        <url-pattern>/ControladorIngreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedido</servlet-name>
        <url-pattern>/ControladorPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scontrolador</servlet-name>
        <url-pattern>/scontrolador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCompra</servlet-name>
        <url-pattern>/ControladorCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistrocompra</servlet-name>
        <url-pattern>/ControladorRegistrocompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
